@media screen and (min-width: 900px)
{
    html{
        height: 100%;
    }

    body{
        height: 100%;
        background-image: radial-gradient(#09476b, #007fc9e1);
        font-size: 18px;
        padding: 0px;
    }

    header{
        margin: 0 auto;
        background-color: #704b30;
        border-bottom: 1px solid #ffffff;
        height: 17%;
        padding: 3px 10px;
    }

    header img{
        display: inline;
        max-width: 90px;
    }

    h1{
        display: inline;
        vertical-align: middle;
    }

    footer{
        border-top: 1px solid #ffffff;
        background-color: #704b30;
        width: 100%;
        height: 7%;
        text-align: center;
    }

    nav a{
        color: #93c7e4;
        display: block;
    }
    a:hover{
        color: #76b7da;
    }

    main{
        max-width: 1024px;
        min-height: 77%;
        padding: 2%;
        margin: 0 auto;
        border-left: 2px solid #ffffffcb;
        border-right: 2px solid #ffffffcb;
        border-radius: 3% / 15%;
    }

    .barrer{
        text-decoration: line-through;
    }

    div.card-body{
        background-color: #392212;
        height: 300px;
    }

    div.card img{
        height: 450px;
        background-color: #6d6d6dc4;
    }

    .centrer{
        text-align: center;
    }

    p{
        white-space: pre-line;
    }

    .card{
        margin-top: 35px;
    }

    .row{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 500px) and (max-width: 900px)
{
    html{
        height: 100%;
    }

    body{
        height: 100%;
        background-image: radial-gradient(#09476b, #007fc9e1);
        font-size: 14px;
        padding: 0px;
    }

    header{
        margin: 0 auto;
        background-color: #704b30;
        border-bottom: 1px solid #ffffff;
        height: 17%;
        padding: 3px 10px;
    }

    header img{
        display: inline;
        max-width: 90px;
    }

    h1{
        display: inline;
        vertical-align: middle;
    }

    footer{
        border-top: 1px solid #ffffff;
        background-color: #704b30;
        width: 100%;
        height: 7%;
        text-align: center;
    }

    nav a{
        color: #93c7e4;
        display: block;
    }
    a:hover{
        color: #76b7da;
    }

    main{
        max-width: 1024px;
        min-height: 77%;
        padding: 2%;
        margin: 0 auto;
        border-left: 2px solid #ffffffcb;
        border-right: 2px solid #ffffffcb;
        border-radius: 3% / 15%;
    }

    .barrer{
        text-decoration: line-through;
    }

    div.card-body{
        background-color: #392212;
        height: 300px;
    }

    div.card img{
        height: 450px;
        background-color: #6d6d6dc4;
    }

    .centrer{
        text-align: center;
    }

    p{
        white-space: pre-line;
    }

    .card{
        margin-top: 35px;
    }

    .row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 500px)
{
    html{
        height: 100%;
    }

    body{
        height: 100%;
        background-image: radial-gradient(#09476b, #007fc9e1);
        font-size: 14px;
        padding: 0px;
    }

    header{
        margin: 0 auto;
        background-color: #704b30;
        border-bottom: 1px solid #ffffff;
        height: 17%;
        padding: 3px 10px;
    }

    header img{
        display: inline;
        max-width: 90px;
    }

    h1{
        display: inline;
        vertical-align: middle;
    }

    footer{
        border-top: 1px solid #ffffff;
        background-color: #704b30;
        width: 100%;
        height: 7%;
        text-align: center;
    }

    nav a{
        color: #93c7e4;
        display: block;
    }
    a:hover{
        color: #76b7da;
    }

    main{
        max-width: 1024px;
        min-height: 77%;
        padding: 2%;
        margin: 0 auto;
        border-left: 2px solid #ffffffcb;
        border-right: 2px solid #ffffffcb;
        border-radius: 3% / 15%;
    }

    .barrer{
        text-decoration: line-through;
    }

    div.card-body{
        background-color: #392212;
        height: 300px;
    }

    div.card img{
        height: 450px;
        background-color: #6d6d6dc4;
    }

    .centrer{
        text-align: center;
    }

    p{
        white-space: pre-line;
    }

    .card{
        margin-top: 35px;
    }

    .row{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}